#
# ~/.gitconfig
# eugenekay/sync
#

[user]
	name = 
[color]
	ui = true
[last]
	author = false
[advice]
	pushNonFastForward = false
	statusHints = false
	implicitIdentity = false
	detachedHead = false
[push]
	default = upstream
[include]
	path = ~/.gitconfig.local
[merge]
	defaultToUpstream = true
