@namespace url(http://www.w3.org/1999/xhtml);
/* 
 *Links
 */
a[href]:link,
a[href]:visited {
	color: #00f;
	text-decoration: none;
}
a[href]:hover,
a[href]:active,
a[href]:focus {
	color: #f00;
	text-decoration: underline;
}
