@namespace url(http://www.w3.org/1999/xhtml);
/*
 * Amazon
*/
@-moz-document domain("amazon.com") {
#related_ads {
	display: none;
}

}

/* 
 *CNN
 */
@-moz-document domain("cnn.com") {
/* Banners */
.cnnBannerContainer,
.cnn_awsmbr, 
.cnn_bnbcnter,
.cnn_sdbx {
	display:none;
}

}

/*
 * CyanogenMod
*/
@-moz-document domain("get.cm") {
/* Device name popups */
a.device span.fullname {
    display: none !important;
}
a.device span.codename {
    display: inline !important;
}

}

/*
 * Github
 */
@-moz-document domain("github.com") {
/* README Box */
#readme .plain pre {
	font-size: 12px !important;
}
/* Code viewing boxes */
#files .file .data .line_numbers span,
.file-box .data .line_numbers span {
	line-height: 17.2px !important;
}
#files .file .data .highlight div {
	height: 17.2px !important;
}

}

/*
 * Google
*/
@-moz-document domain("google.com") {
/** Calendar **/
/* Recolorize */
.st-grid .st-c .te {
	color: #000 !important;
}

}

/*
 * LinkedIn
*/
@-moz-document domain("linkedin.com") {
/* People You May Know */
#pymk {
	display: none;
}

}

/*
 * TV Tropes
*/
@-moz-document domain("tvtropes.org") {

/* Spoilers */
.spoiler {
    color: black !important;
}
.spoiler a {
    color: #191970 !important;
}

}

/*
 * Wikipedia
 */
@-moz-document domain("wikipedia.org") {

#siteNotice {
	display: none;
}

}

/*
 * YouTube
 */
@-moz-document domain("youtube.com") {

.yt-alert,
#watch-discussion {
	display: none;
}

}
