@namespace url(http://www.w3.org/1999/xhtml);
/* 
 *CNN
 */
@-moz-document domain("cnn.com") {
/* Banners */
.cnnBannerContainer,
.cnn_awsmbr, 
.cnn_bnbcnter,
.cnn_sdbx {
    display:none;
}

}
/*
 * Github
 */
@-moz-document domain("github.com") {
/* README Box */
#readme .plain pre {
    font-size: 12px !important;
}

}
/*
 * Wikipedia
 */
@-moz-document domain("wikipedia.org") {

#siteNotice {
    display: none;
}

}
/*
 * YouTube
 */
@-moz-document domain("youtube.com") {

.yt-alert {
    display: none;
}

}
